<html>
    <head>
        <title>Website Nhà Hàng New Word</title>
        @RenderSection("styles", required: false)
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>

