@model DAL.QLNHangData.Tblemployee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Tblemployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <input asp-for="EmpId" class="form-control" />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpI1" class="control-label"></label>
                <input asp-for="EmpI1" class="form-control" />
                <span asp-validation-for="EmpI1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpNm" class="control-label"></label>
                <input asp-for="EmpNm" class="form-control" />
                <span asp-validation-for="EmpNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpN1" class="control-label"></label>
                <input asp-for="EmpN1" class="form-control" />
                <span asp-validation-for="EmpN1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MstDr" class="control-label"></label>
                <input asp-for="MstDr" class="form-control" />
                <span asp-validation-for="MstDr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirDt" class="control-label"></label>
                <input asp-for="BirDt" class="form-control" />
                <span asp-validation-for="BirDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexBt" class="control-label"></label>
                <input asp-for="SexBt" class="form-control" />
                <span asp-validation-for="SexBt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarBt" class="control-label"></label>
                <input asp-for="MarBt" class="form-control" />
                <span asp-validation-for="MarBt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepId" class="control-label"></label>
                <input asp-for="DepId" class="form-control" />
                <span asp-validation-for="DepId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouId" class="control-label"></label>
                <input asp-for="CouId" class="form-control" />
                <span asp-validation-for="CouId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrdNo" class="control-label"></label>
                <input asp-for="CrdNo" class="form-control" />
                <span asp-validation-for="CrdNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosId" class="control-label"></label>
                <input asp-for="PosId" class="form-control" />
                <span asp-validation-for="PosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddDr" class="control-label"></label>
                <input asp-for="AddDr" class="form-control" />
                <span asp-validation-for="AddDr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddD1" class="control-label"></label>
                <input asp-for="AddD1" class="form-control" />
                <span asp-validation-for="AddD1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InhDt" class="control-label"></label>
                <input asp-for="InhDt" class="form-control" />
                <span asp-validation-for="InhDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrdId" class="control-label"></label>
                <input asp-for="CrdId" class="form-control" />
                <span asp-validation-for="CrdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrdDt" class="control-label"></label>
                <input asp-for="CrdDt" class="form-control" />
                <span asp-validation-for="CrdDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrdLc" class="control-label"></label>
                <input asp-for="CrdLc" class="form-control" />
                <span asp-validation-for="CrdLc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitId" class="control-label"></label>
                <input asp-for="CitId" class="form-control" />
                <span asp-validation-for="CitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RacNm" class="control-label"></label>
                <input asp-for="RacNm" class="form-control" />
                <span asp-validation-for="RacNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NatCo" class="control-label"></label>
                <input asp-for="NatCo" class="form-control" />
                <span asp-validation-for="NatCo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduId" class="control-label"></label>
                <input asp-for="EduId" class="form-control" />
                <span asp-validation-for="EduId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProId" class="control-label"></label>
                <input asp-for="ProId" class="form-control" />
                <span asp-validation-for="ProId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraId" class="control-label"></label>
                <input asp-for="GraId" class="form-control" />
                <span asp-validation-for="GraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelNo" class="control-label"></label>
                <input asp-for="TelNo" class="form-control" />
                <span asp-validation-for="TelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypId" class="control-label"></label>
                <input asp-for="TypId" class="form-control" />
                <span asp-validation-for="TypId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccNo" class="control-label"></label>
                <input asp-for="AccNo" class="form-control" />
                <span asp-validation-for="AccNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccNm" class="control-label"></label>
                <input asp-for="AccNm" class="form-control" />
                <span asp-validation-for="AccNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BnkNm" class="control-label"></label>
                <input asp-for="BnkNm" class="form-control" />
                <span asp-validation-for="BnkNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelDr" class="control-label"></label>
                <input asp-for="RelDr" class="form-control" />
                <span asp-validation-for="RelDr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeaBt" class="control-label"></label>
                <input asp-for="MeaBt" class="form-control" />
                <span asp-validation-for="MeaBt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemDr" class="control-label"></label>
                <input asp-for="RemDr" class="form-control" />
                <span asp-validation-for="RemDr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrtId" class="control-label"></label>
                <input asp-for="GrtId" class="form-control" />
                <span asp-validation-for="GrtId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrpId" class="control-label"></label>
                <input asp-for="GrpId" class="form-control" />
                <span asp-validation-for="GrpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevId" class="control-label"></label>
                <input asp-for="LevId" class="form-control" />
                <span asp-validation-for="LevId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BhxBt" class="control-label"></label>
                <input asp-for="BhxBt" class="form-control" />
                <span asp-validation-for="BhxBt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirBt" class="control-label"></label>
                <input asp-for="DirBt" class="form-control" />
                <span asp-validation-for="DirBt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BltNm" class="control-label"></label>
                <input asp-for="BltNm" class="form-control" />
                <span asp-validation-for="BltNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BltDt" class="control-label"></label>
                <input asp-for="BltDt" class="form-control" />
                <span asp-validation-for="BltDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LstNm" class="control-label"></label>
                <input asp-for="LstNm" class="form-control" />
                <span asp-validation-for="LstNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LstDt" class="control-label"></label>
                <input asp-for="LstDt" class="form-control" />
                <span asp-validation-for="LstDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenDt" class="control-label"></label>
                <input asp-for="SenDt" class="form-control" />
                <span asp-validation-for="SenDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemD2" class="control-label"></label>
                <input asp-for="RemD2" class="form-control" />
                <span asp-validation-for="RemD2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirDt" class="control-label"></label>
                <input asp-for="FirDt" class="form-control" />
                <span asp-validation-for="FirDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

