@*@model DAL.QLNHangData.Monan

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Monan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenMonAn" class="control-label"></label>
                <input asp-for="TenMonAn" class="form-control" />
                <span asp-validation-for="TenMonAn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaDmmonAn" class="control-label"></label>
                <select asp-for="MaDmmonAn" class ="form-control" asp-items="ViewBag.MaDmmonAn"></select>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanhGia" class="control-label"></label>
                <input asp-for="DanhGia" class="form-control" />
                <span asp-validation-for="DanhGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaXoa" class="control-label"></label>
                <input asp-for="DaXoa" class="form-control" />
                <span asp-validation-for="DaXoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConMon" class="control-label"></label>
                <input asp-for="ConMon" class="form-control" />
                <span asp-validation-for="ConMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

